/* CodingDojo Ecommerce main page*/
#mainpics{
    display:none;
    background-color:red;
}
.error{
    font-weight:bold;
    font-style:italic;
    color:darkred;
}
.success{
    font-weight:bold;
    color:darkgreen;
    font-style:italic;
}

/* Customer product dashboard page*/
#products, #user, #dashpics{
    display:none;
}
#dashpics{
    background-color:cornflowerblue;
}
.image{
    height:250px;
    width:250px;
    border:3px solid black;
    display:inline-block;
    margin-right:15px;
    margin-top:30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}
.image:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.image img{
    width: 100%;
    height: 100%;
}
.prodtitle, .image h4, .image p{
    text-align:center;
}
#pagenumbers{
    margin-top:45px;
}
#sortby{
    margin-top:30px;
}

/* Customer single product page */
.productimg{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width:100%;
    height:370px;
}
.simprods{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    width:100%;
    height:300px;
}
img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.proddesc{
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;            
}
#prod{
    margin-left:30px;
}
#desc{
    height:450px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top: 15px;
}
#purchase{
    margin: 50px 0 0 150px;
}
#similar{
    margin: 30px 0 75px 0;
}
#similar h2{
    margin-left:30px;
}
.simdesc{
    display:flex;
    justify-content:space-around;
    font-size:18px;
}

/* Customer shopping cart page*/
#getbuying{
    padding:50px;
    font-size:80px;
}
#startbuyin{
    margin-left:40px;
}
#carttable{
    margin: 0 auto;
    width:85%;
}
#total{
    display:flex;
    justify-content: flex-end;
    margin-top:20px;
    font-size:20px;
    margin-right:35px;
}
#continue{
    margin-right:35px;
}
#info{
    margin-top:60px;
}
#info h1{
    text-align:center;
}
.shipbill{
    margin-left:150px;
    margin-top:25px;
    width:60%;
    border:5px solid red;
    border-radius:5px;
    padding:15px;
}
#ccard{
    padding:50px;
    margin-left:70px;
    width:40%;
}
#ccard h1{
    margin-bottom:25px;
}
#ccard .form-control{
    margin-right:15px;
}
#pay{
    margin-right:50px;
}