{% extends 'admins/adminindex.html' %}

{% block title %} Admin Orders {% endblock %}

{% block adminorders %}

<nav class='navbar navbar-dark' style='background-color:red;'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='#'>Admin Dashboard</a>             
            <li><a href='{% url 'adminorders' %}'><span class='glyphicon glyphicon-barcode'></span> Orders</a></li>
            <li><a href='{% url 'adminproducts' %}'><span class='glyphicon glyphicon-tag'></span> Products</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right'>                
            <li><a href='{% url 'adminlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

<form action='#' method='' class='form-inline' id='ordersearcher'>
    {% csrf_token %}
    <label for='searchby'>Search by:</label>
    <select name="searchby" class="form-group" id='searchby'>
        <option>Order ID</option>
        <option>Customer Name</option>                                            
        <option>Date</option>                                            
    </select>
    <br><br>
    <input class='form-group' type='search' name='adminsearcho'>
    <button type='submit'><span class='glyphicon glyphicon-search'></span></button>
</form>

<table id='orders' class='table table-bordered table-striped table-hover'>
    <col width='100'>
    <col width='150'>
    <col width='120'>
    <col width='450'>
    <col width='150'>
    <thead>
        <tr>
            <th>Order ID</th>                
            <th>Customer Name</th>                
            <th>Date</th>
            <th>Billing Address</th>
            <th>Total</th>            
            <th>Status</th>            
        </tr>
    </thead>
    {% for order in allorders %}
    <tbody>
        <tr>                    
            <td><a href='{% url 'adminord' id=order.id %}'><b>{{order.id}}</b></a></td>
            <td>{{order.placer.first_name}} {{order.placer.last_name}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.Baddress}} {{order.Bcity}}, {{order.Bstate}}</td>
            <td>${{order.total}}</td>
            <td>{{order.status}}</td>
        </tr>
    </tbody>    
    {% endfor %}     
</table>

<center>
    <div id='pagenumbers'>
        <h2>
        <ul class="pagination">
            <li class="disabled"><a href="#pagenumbers" page="before" class="pages">&laquo;</a></li>
            <li class="active"><a href="#pagenumbers" page="1" class="pages">1</a></li>
            <li><a href="#pagenumbers" page="2" class="pages">2</a></li>
            <li><a href="#pagenumbers" page="3" class="pages">3</a></li>
            <li><a href="#pagenumbers" page="4" class="pages">4</a></li>
            <li><a href="#pagenumbers" page="5" class="pages">5</a></li>
            <li><a href="#pagenumbers" page="6" class="pages">6</a></li>
            <li><a href="#pagenumbers" page="7" class="pages">7</a></li>
            <li><a href="#pagenumbers" page="8" class="pages">8</a></li>
            <li><a href="#pagenumbers" page="after" class="pages">&raquo;</a></li>
        </ul>
        </h2>
    </div>
</center>

{% endblock %}