<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admins/css/admin.css' %}">
    <script>
        $(document).ready(function(){
            // Admin login page
            $('.adlogout').fadeOut(2000)

            // Admin orders dashboard page
            $('#orders').fadeIn(800)

            // Admin products dashboard page
            $('#edit-modal').on('show.bs.modal', function(event){
                var link = $(event.relatedTarget)
                var prod = link.data('blah')
                $(this).find('.modal-title').text('Edit Product - ID ' + prod)
            })
            $('#delete-modal').on('show.bs.modal', function(event){
                var link = $(event.relatedTarget)
                var prod = link.data('blah2')
                $(this).find('.modal-title').text('Are you sure you want to delete product ' + prod + '?')
            })
        })
    </script>
</head>
<body>
    {% block adminlogin %}
    {% endblock %}

    {% block adminorders %}
    {% endblock %}

    {% block order %}
    {% endblock %}

    {% block adminproducts %}
    {% endblock %}
</body>
</html>