{% extends 'admins/adminindex.html' %}

{% block title %} Admin Products {% endblock %}

{% block adminproducts %}

<nav class='navbar navbar-dark' style='background-color:red;'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='#'>Admin Dashboard</a>             
            <li><a href='{% url 'adminorders' %}'><span class='glyphicon glyphicon-barcode'></span> Orders</a></li>
            <li><a href='{% url 'adminproducts' %}'><span class='glyphicon glyphicon-tag'></span> Products</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right'>                
            <li><a href='{% url 'adminlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

<form action='{% url 'adminprodorder' %}' method='post' class='form-inline' id='adminorderp'>
    {% csrf_token %}
    <label for='orderby'>Order by:</label>
    <select name="orderby" class="form-group" id='orderby'>
        <option value="id">Product ID</option>
        <option value="name">Product Name</option>                   
        <option value="category">Category</option>              
    </select>
    <button type='submit'><span class='glyphicon glyphicon-sort'></span></button>
</form>
<div id='productsearcher'>
    <form action='#' method='post' id='adminsearchp'>
        {% csrf_token %}
        <input class='form-group' type='search' name='adminsearchp'>
        <button type='submit'><span class='glyphicon glyphicon-search'></span></button>
    </form>
</div>

<a id='addprod' href='#' data-toggle='modal' data-target='#add-modal' class='btn btn-success pull-right'>Add new product</a>

{% if messages %}
    {% for message in messages %}
        {% if message.extra_tags == 'admindelete' or message.extra_tags == 'adminadd' or message.extra_tags == 'adminedit' %}
            <p class="{{message.tags}}">{{message}}</p>
        {% endif %}
    {% endfor %}
{% endif %}

<div id="adminprods">
<table id='products' class='table table-bordered table-striped table-hover'>
    <col width='150'>
    <col width='100'>
    <col width='180'>
    <col width='150'>
    <col width='120'>
    <col width='120'>
    <col width='120'>
    <thead>
        <tr>
            <th>Picture</th>                
            <th>ID</th>                
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Inventory Count</th>
            <th>Quantity Sold</th>            
            <th>Action</th>            
        </tr>
    </thead>
    {% for product in allproducts %}   
    <tbody>
        <tr>                    
            <td><img class='adminimg' src={{product.image.url}} alt='{{product.name}}'></td>
            <td><a href='{% url 'adminprod' id=product.id %}'><b>{{product.id}}</b></a></td>
            <td>{{product.name}}</td>
            <td>{{product.category | title}}</td>
            <td>${{product.price}}</td>
            <td>{{product.inventory}}</td>
            <td>{{product.quantity_sold}}</td>
            <td class='edit'><a href="#" data-toggle="modal" data-target="#edit-modal" data-blah='{{product.id}}'> Edit</a> <a href="#" data-toggle='modal' data-target='#delete-modal' data-blah2='{{product.id}}'>Delete</a></td>
        </tr>
    </tbody>    
    {% endfor %}                       
</table>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Login">Edit Product - ID</h4>
            </div>
            <div class="modal-body">
                <form action="#" method="post" enctype="multipart/form-data" id="editprod">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='editname'>Name</label>
                        <input type="text" name='editname' class="form-control" id="editname" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for='editdesc'>Description</label>
                        <textarea name='editdesc' id='editdesc' class='form-control' rows='4' placeholder='description'></textarea>
                    </div>
                    <div class="form-group">
                        <label for='editprice'>Price</label>
                        <input type="text" name='editprice' id='editprice' class='form-control' placeholder='price'>
                    </div>
                    <div class="form-group">
                        <label for='editcat'>Choose existing category</label>
                        <select name='editcat' id='editcat' class='form-control' rows='3'>
                            {% for cat in cats %}
                            <option value='{{cat}}'>{{cat|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for='newcat'>Add a new category</label>
                        <input type='text' name='newcat' id='newcat' placeholder='new category' class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="editinv">Inventory</label>
                        <input type='text' name='editinv' id='editinv' placeholder='Inventory' class='form-control' rows='3'>
                    </div>
                    <div class="form-group">
                        <label for='newimg'>Upload image</label>
                        <input type="file" name='newimg' id="newimg">
                    </div>
            </div>
            <div class='modal-footer'>
                <div id='editer'>
                    <button class='btn btn-info form-inline' data-dismiss='modal'>Cancel</button>
                    <button class='btn btn-primary' type='submit'>Update</button>   
                </form>                                                 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Login">Add new product</h4>
            </div>
            <div class="modal-body">
                <form action="{% url "addprod" %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for='addname'>Name</label>
                        <input type="text" name='addname' class="form-control" id="addname" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for='adddesc'>Description</label>
                        <textarea name='adddesc' id='adddesc' class='form-control' rows='3' placeholder='description'></textarea>
                    </div>
                    <div class="form-group">
                        <label for='addcat'>Choose existing category</label>
                        <select name='addcat' id='addcat' class='form-control' rows='3'>
                            {% for cat in cats %}
                            <option value='{{cat}}'>{{cat|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for='addnewcat'>Add a new category</label>
                        <input type='text' name='addnewcat' id='addnewcat' placeholder='new category' class='form-control'>
                    </div>
                    <div class="form-group">
                        <label for="addprice">Price</label>
                        <input type="text" name="addprice" id="addprice" class="form-control" rows="3">
                    </div>
                    <div class="form-group">
                        <label for='newimg'>Upload image</label>
                        <input type="file" name='newimg' id="newimg">
                    </div>            
            </div>
            <div class='modal-footer'>
                <div id='editer'>
                    <button class='btn btn-info form-inline' data-dismiss='modal'>Cancel</button>
                    <button class='btn btn-primary' type='submit'>Add</button>    
                </form>               
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="Delete" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Delete">Are you sure you want to delete product __?</h4>
            </div>
            <div class="modal-footer">
                <div id='deleter'>
                    <button class='btn btn-info form-inline' data-dismiss='modal'>Cancel</button>
                    <form action="#" method="post" id="deleteprod">
                        {% csrf_token %}
                        <button class="btn btn-danger" type='submit'>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<center>
    <div class='pagenumbers'>
        <h2>
        <ul class="pagination">
            <li class="disabled"><a href="#pagenumbers" page="before" class="pages">&laquo;</a></li>
            <li class="active"><a href="#pagenumbers" page="1" class="pages">1</a></li>
            <li><a href="#pagenumbers" page="2" class="pages">2</a></li>
            <li><a href="#pagenumbers" page="3" class="pages">3</a></li>
            <li><a href="#pagenumbers" page="4" class="pages">4</a></li>
            <li><a href="#pagenumbers" page="5" class="pages">5</a></li>
            <li><a href="#pagenumbers" page="6" class="pages">6</a></li>
            <li><a href="#pagenumbers" page="7" class="pages">7</a></li>
            <li><a href="#pagenumbers" page="8" class="pages">8</a></li>
            <li><a href="#pagenumbers" page="after" class="pages">&raquo;</a></li>
        </ul>
        </h2>
    </div>
</center>

{% endblock %}