{% extends 'admins/adminindex.html' %}

{% block title %} Admin Product #{{prod.id}} {% endblock %}

{% block adminprod %}

<div class='row'>
    <div class="col-md-3" id='prod'>
        <h2>{{prod.name}}</h2>
        <img class='productimg' src={{prod.image.url}}>
    </div>

    <div class='col-md-4' id='desc'>
        <br><br>
        <p class='proddesc'>{{prod.desc}}</p>
        <p class='proddesc'><b>Price</b>: ${{prod.price}}</p>
    </div>
</div>
    
<div class='row' id='similar'>
    <h2>Customers also bought (first 5):</h2>
    {% for prod in similarprods %}
    <div class='col-md-2'>
        <a href='{% url 'adminprod' id=prod.id %}'><img class='simprods' src={{prod.image.url}}></a>
        <span class='simdesc'>
            <p><b>{{prod.name}}</b></p>
            <p>${{prod.price}}</p>
        </span>
    </div>
    {% endfor %}
</div>

{% endblock %}