{% extends 'admins/adminindex.html' %}

{% block title %} Admin Product #{{prod.id}} {% endblock %}

{% block adminprod %}

<nav class='navbar navbar-dark' style='background-color:red;'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='#'>Admin Dashboard</a>             
            <li><a href='{% url 'adminorders' %}'><span class='glyphicon glyphicon-qrcode'></span> Orders</a></li>
            <li><a href='{% url 'adminproducts' %}'><span class='glyphicon glyphicon-tag'></span> Products</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right'>                
            <li><a href='{% url 'adminlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

<div class='row'>
    <div class="col-md-3" id='prod'>
        <h2>{{prod.name}}</h2>
        <img class='productimg' src={{prod.image.url}}>
    </div>

    <div class='col-md-4' id='desc'>
        <br><br>
        <p class='proddesc'>{{prod.desc}}</p>
        <p class='proddesc'><b>Price</b>: ${{prod.price}}</p>
    </div>
</div>
    
<div class='row' id='similar'>
    <h2>Customers also bought (first 5):</h2>
    {% for prod in similarprods %}
    <div class='col-md-2'>
        <a href='{% url 'adminprod' id=prod.id %}'><img class='simprods' src={{prod.image.url}}></a>
        <span class='simdesc'>
            <p><b>{{prod.name}}</b></p>
            <p>${{prod.price}}</p>
        </span>
    </div>
    {% endfor %}
</div>

{% endblock %}