{% extends 'admins/adminindex.html' %}

{% block title %} Order #{{order.id}} {% endblock %}

{% block order %}

<nav class='navbar navbar-dark' style='background-color:red;'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='#'>Admin Dashboard</a>             
            <li><a href='{% url 'adminorders' %}'><span class='glyphicon glyphicon-barcode'></span> Orders</a></li>
            <li><a href='{% url 'adminproducts' %}'><span class='glyphicon glyphicon-tag'></span> Products</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right'>                
            <li><a href='{% url 'adminlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

<div class='col-md-3' id='orderinfo'>
    <p class='orderid'>Order ID: #{{order.id}}</p>
    <br>
    <b>Customer shipping info</b>:
    <p>Name: {{order.Sfname}} {{order.placer.Slname}}</p>
    <p>Address: {{order.Saddress}} </p>
    <p>City: {{order.Scity}}</p>
    <p>State: {{order.Sstate}}</p>
    <p>Zip: {{order.Szip}}</p>
    <br>
    <b>Customer billing info</b>:
    <p>Name: {{order.Bfname}} {{order.Blname}}</p>
    <p>Address: {{order.Baddress}} </p>
    <p>City: {{order.Bcity}}</p>
    <p>State: {{order.Bstate}}</p>
    <p>Zip: {{order.Bzip}}</p>
</div>

<div class='col-md-8'>
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>                
                <th>Price</th>                
                <th>Quantity</th>
                <th>Total</th>            
            </tr>
        </thead>
        {% for item in items %}
        <tbody>
            <tr>
                <td>{{item.id}}</td>                
                <td>{{item.prod.name}}</td>
                <td>${{item.price}}</td>
                <td>{{item.quantity}}</td>
                <td>${{item.total}}</td>
            </tr>
        </tbody>   
        {% endfor %}       
    </table>

    <div id='status'>
        <h2>{{order.status}}</h2>
    </div>

    <div id='priceinfo'>
        <p>Subtotal: ${{order.total}}</p>
        <p>Shipping: $5</p>
        <p>Total Price: $1545</p>
    </div>

</div>

{% endblock %}