{% extends 'admins/adminindex.html' %}

{% block title %} Admin Orders {% endblock %}

{% block adminorders %}

<form action='{% url 'adminordorder' %}' method='post' class='form-inline' id='adminordero'>
    {% csrf_token %}
    <label for='orderby'>Order by:</label>
    <select name="orderby" class="form-group" id='orderby'>
        <option value="id">Order ID</option>
        <option value="name">Customer Name</option>            
        <option value="price_lo">Total ($ to $$$)</option>              
        <option value="price_hi">Total ($$$ to $)</option>
    </select>
    <button type='submit'><span class='glyphicon glyphicon-sort'></span></button>
</form>
<div id='ordersearcher'>
    <form action='#' method='post' id='adminsearcho'>
        {% csrf_token %}
        <label for="search">Search by customer name:</label>
        <input class='form-group' type='search' name='adminsearcho'>
        <button type='submit'><span class='glyphicon glyphicon-search'></span></button>
    </form>
</div>

<div id='partialords'>
<table id='orders' class='table table-bordered table-striped table-hover'>
    <col width='100'>
    <col width='150'>
    <col width='120'>
    <col width='350'>
    <col width='150'>
    <thead>
        <tr>
            <th>Order ID</th>                
            <th>Customer Name</th>                
            <th>Date Placed</th>
            <th>Billing Address</th>
            <th>Total</th>            
            <th>Status</th>
            <th>Update Status</th>            
        </tr>
    </thead>
    {% for order in allorders %}
    <tbody>
        <tr>                    
            <td><a href='{% url 'adminord' id=order.id %}'><b>{{order.id}}</b></a></td>
            <td>{{order.placer.first_name}} {{order.placer.last_name}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.Baddress}} <br>{{order.Bcity}}, {{order.Bstate}} {{order.Bzip}}</td>
            <td>${{order.total}}</td>
            <td>{{order.status}}</td>
            <td>
                {% if order.status != "Cancelled" and order.status != "Delivered" %}
                <form action='{% url 'updatestatus' id=order.id %}' method="post">
                    {% csrf_token %}
                    <select name="newstatus" class="form-group" id="newstatus">
                        <option value="in_transit">In transit</option>
                        <option value="delivered">Delivered</option>
                        <option value="cancelled">Cancelled</option>                        
                    </select>
                    <input type="submit" value="Update" class='btn btn-success'>
                </form>
                {% else %}
                    {% if order.status == "Cancelled"%}
                    <span class="error">Order has been cancelled</span><br>
                    <span class="error">@ {{order.updated_at}}</span>
                    {% endif %}
                    {% if order.status == "Delivered" %}
                    <span class="success">Order has been delivered</span><br>
                    <span class="success">@ {{order.updated_at}}</span>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>    
    {% endfor %}    
</table>
</div>

<center>
    <div class='pagenumbers'>
        <h2>
        <ul class="pagination">
            <li class="disabled"><a href="#pagenumbers" page="before" class="pages2">&laquo;</a></li>
            <li class="active"><a href="#pagenumbers" page="1" class="pages2">1</a></li>
            <li><a href="#pagenumbers" page="2" class="pages2">2</a></li>
            <li><a href="#pagenumbers" page="3" class="pages2">3</a></li>
            <li><a href="#pagenumbers" page="4" class="pages2">4</a></li>
            <li><a href="#pagenumbers" page="5" class="pages2">5</a></li>
            <li><a href="#pagenumbers" page="6" class="pages2">6</a></li>
            <li><a href="#pagenumbers" page="7" class="pages2">7</a></li>
            <li><a href="#pagenumbers" page="8" class="pages2">8</a></li>
            <li><a href="#pagenumbers" page="after" class="pages2">&raquo;</a></li>
        </ul>
        </h2>
    </div>
</center>

{% endblock %}