<table id='products' class='table table-bordered table-striped table-hover'>
    <col width='150'>
    <col width='100'>
    <col width='180'>
    <col width='150'>
    <col width='120'>
    <col width='120'>
    <thead>
        <tr>
            <th>Picture</th>                
            <th>ID</th>                
            <th>Name</th>
            <th>Category</th>
            <th>Inventory Count</th>
            <th>Quantity Sold</th>            
            <th>Action</th>            
        </tr>
    </thead>
    {% for product in allproducts %}   
    <tbody>
        <tr>                    
            <td><img class='adminimg' src={{product.image.url}} alt='{{product.name}}'></td>
            <td><a href='{% url 'adminprod' id=product.id %}'><b>{{product.id}}</b></a></td>
            <td>{{product.name}}</td>
            <td>{{product.category | title}}</td>
            <td>{{product.inventory}}</td>
            <td>{{product.quantity_sold}}</td>
            <td class='edit'><a href="#" data-toggle="modal" data-target="#edit-modal" data-blah='{{product.id}}'> Edit</a> <a href="#" data-toggle='modal' data-target='#delete-modal' data-blah2='{{product.id}}'>Delete</a></td>
        </tr>
    </tbody>    
    {% endfor %}                       
</table>