{% extends 'customers/custindex.html' %}

{% block title %} My Orders {% endblock %}

{% block myorders %}

{% if myorders|length > 0 %}
<h1 class="clarify">Orders in progress</h1>
{% for order in myorders %}
{% if order.status == "In Transit" or order.status == "Just placed" %}
<h2 class="status">{{order.status}} -- updated {{order.updated_at}}</h2>
<h3 class="status">Delivering to {{order.Sfname}} {{order.Slname}} @ {{order.Saddress}}, {{order.Scity}}, {{order.Sstate}} {{order.Szip}}</h3>
<h3 class="status">Order #{{order.id}} placed on {{order.created_at}}</h3>
<center>
<table class='table table-bordered table-striped table-hover myorders'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>                
            <th>Price</th>                
            <th>Quantity</th>
            <th>Total</th>            
        </tr>
    </thead>
    {% for x in order.goods.all %}
    <tbody>
        <tr>
            <td>{{x.item.id}}</td>                
            <td>{{x.item.name}}</td>
            <td>${{x.price}}</td>
            <td>{{x.amount}}</td>
            <td>${% widthratio x.price 1 x.amount %}</td>
        </tr>
    </tbody>   
    {% endfor %}       
</table>
</center>
<a id="cancel" href="#" class="btn btn-danger" data-toggle='modal' data-target='#cancel-modal' data-identifier='{{order.id}}'>Cancel order</a>
{% endif %}
{% endfor %}

<h1 class="clarify">Delivered orders</h1>
{% for order in myorders %}
{% if order.status == "Delivered" %}
<h2 class="status">{{order.status}} on {{order.updated_at}}</h2>
<h3 class="status">Delivered to {{order.Sfname}} {{order.Slname}} @ {{order.Saddress}}, {{order.Scity}}, {{order.Sstate}} {{order.Szip}}</h3>
<h3 class="status">Order #{{order.id}} placed on {{order.created_at}}</h3>
<center>
<table class='table table-bordered table-striped table-hover myorders'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>                
            <th>Price</th>                
            <th>Quantity</th>
            <th>Total</th>            
        </tr>
    </thead>
    {% for x in order.goods.all %}
    <tbody>
        <tr>
            <td>{{x.item.id}}</td>                
            <td>{{x.item.name}}</td>
            <td>${{x.price}}</td>
            <td>{{x.amount}}</td>
            <td>${% widthratio x.price 1 x.amount %}</td>
        </tr>
    </tbody>   
    {% endfor %}       
</table>
</center>
{% endif %}
{% endfor %}

<h1 class="clarify">Cancelled orders</h1>
{% for order in myorders %}
{% if order.status == "Cancelled" %}
<h2 class="status">{{order.status}} on {{order.updated_at}}</h2>
<h3 class="status">Order #{{order.id}} placed on {{order.created_at}}</h3>
<center>
<table class='table table-bordered table-striped table-hover myorders'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>                
            <th>Price</th>                
            <th>Quantity</th>
            <th>Total</th>            
        </tr>
    </thead>
    {% for x in order.goods.all %}
    <tbody>
        <tr>
            <td>{{x.item.id}}</td>                
            <td>{{x.item.name}}</td>
            <td>${{x.price}}</td>
            <td>{{x.amount}}</td>
            <td>${% widthratio x.price 1 x.amount %}</td>
        </tr>
    </tbody>   
    {% endfor %}       
</table>
</center>
{% endif %}
{% endfor %}

{% else %}
    <h1>NO ORDERS HAVE BEEN PLACED AS OF YET</h1>
{% endif %}

<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="Cancel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="Delete">Are you sure you want to cancel order __?</h4>
            </div>
            <div class="modal-footer">
                <div id='canceller'>
                    <button class='btn btn-info form-inline' data-dismiss='modal'>Exit</button>
                    <form action="#" method="post" id="cancelord">
                        {% csrf_token %}
                        <button class="btn btn-danger" type='submit'>Cancel Order</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}