{% extends 'customers/custindex.html' %}

{% block title %} Product #{{prod.id}} {%endblock%}

{% block singleprod %}

<div class='row'>
    <div class="col-md-3" id='prod'>
        <h2>{{prod.name}}</h2>
        <img class='productimg' src={{prod.image.url}}>
    </div>

    <div class='col-md-4' id='desc'>
        <br><br>
        <p class='proddesc'>{{prod.desc}}</p>
        <p class='proddesc'><b>Price</b>: ${{prod.price}}</p>
    </div>

    <div class="col-md-3" id='purchase'>
        <div class='panel panel-default sidebar'>
            <div class='panel-heading'>
                <h3 class='panel-title'>Add to cart</h3>
            </div>
            <div class='panel-body'>
                <form action='{% url 'purchase' id=prod.id %}' method='post'>
                {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'quantity' %}
                                <p class="{{message.tags}}">{{message}}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <label for='quan'>Quantity:</label>
                    <input class='form-control' type='number' min='1' name='quantity' id='quan'>
                    <br>
                    <button type='submit'><h3><span class='glyphicon glyphicon-shopping-cart'></span></h3></button>
                </form>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'addedcart' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class='row' id='similar'>
    <h2>Customers also bought:</h2>
    {% for prod in similarprods %}
    <div class='col-md-2'>
        <a href='{% url 'oneprod' id=prod.id %}'><img class='simprods' src={{prod.image.url}}></a>
        <span class='simdesc'>
            <p><b>{{prod.name}}</b></p>
            <p>${{prod.price}}</p>
        </span>
    </div>
    {% endfor %}
</div>

{% endblock %}