{% extends 'customers/custindex.html' %}

{% block title %} All Products {%endblock%}

{% block products %}

<nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='{% url 'dashboard' %}'>CodingDojo E-Commerce</a>             
            <li id='user'><a><span class='glyphicon glyphicon-user'></span> Welcome, {{request.session.customer}}</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right menu'>
            <li><a href='{% url 'myorders' %}'><span class="glyphicon glyphicon-qrcode"></span> My Orders</a></li>
            <li><a href='{% url 'shoppingcart' %}'><span class='glyphicon glyphicon-shopping-cart'></span> Shopping Cart ({{request.session.shoppingcart|length}})</a></li>  
            <li><a href='{% url 'customerlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

{% if messages %} {% for message in messages %}
    {% if message.extra_tags == 'placedorder' %}
        <p class="{{message.tags}}" style="font-size:20px;">{{message}}</p>
    {% endif %}
    {% endfor %}
{% endif %}  

<div class="col-md-2">
    <div class='panel panel-default sidebar'>
        <div class='panel-heading'>
            <h3 class='panel-title'>Search all products</h3>
        </div>
        <div class='panel-body'>            
            <form action='{% url 'searchprods' %}' method='post' id='custsearch'>
                {% csrf_token %}
                <input class='form-group' type='search' name='custsearch'>
                <button type='submit'><span class='glyphicon glyphicon-search'></span></button>
            </form>
        </div>
    </div>
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
                {% for x in categories %}
                    <li><a cat='{{x.cat}}' class='categories' href="#{{x.cat}}">{{x.cat | title}}<span class='badge pull-right'>{{x.catnum}}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class='col-md-9'>
    <div id='prodsection'>
        <section class="jumbotron text-center" id="products">
            <div class="container">
                <h1 class="jumbotron-heading">Thank you for entering Coding Dojo E-commerce</h1>
                <br>
                <p class="lead text-muted">Start shopping by selecting a category or searching for any product!</p>
            </div>
        </section>
        <div id='dashpics'>
            <center>
            {% load static %}
            <img src="{% static "customers/img/coding_dojo_logo_black.png" %}" alt='dojologo'>
            <img src="{% static "customers/img/download.png" %}" alt='ecommerce'>
            </center>
        </div>
    </div>
    <center>
        <div id='pagenumbers'>
            <h2>
            <ul class="pagination">
                <li class="disabled"><a href="#pagenumbers" page="before" class="pages">&laquo;</a></li>
                <li class="active"><a href="#pagenumbers" page="1" class="pages">1</a></li>
                <li><a href="#pagenumbers" page="2" class="pages">2</a></li>
                <li><a href="#pagenumbers" page="3" class="pages">3</a></li>
                <li><a href="#pagenumbers" page="4" class="pages">4</a></li>
                <li><a href="#pagenumbers" page="5" class="pages">5</a></li>
                <li><a href="#pagenumbers" page="after" class="pages">&raquo;</a></li>
            </ul>
            </h2>
        </div>
    </center>
</div>

<div class='col-md-1'>
    <form action='{% url 'sortprods' %}' method='post' id='sortby'>
        {% csrf_token %}            
        <strong>Sort by</strong>
        <select name="sort_by" class="form-control">
            <option value='name'>Name</option> 
            <option value='hilo'>Price (high to low)</option>
            <option value='lohi'>Price (low to high)</option>
            <input type='submit' class='btn btn-primary pull-right' value='Sort'>                         
        </select>
    </form>
</div>

{% endblock %}