{% extends 'customers/custindex.html' %}

{% block title %} Shopping Cart {% endblock %}

{% block singleprod %}

<nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='{% url 'dashboard' %}'>CodingDojo E-Commerce</a>             
            <li><a><span class='glyphicon glyphicon-user'></span> {{request.session.customer}}</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right menu'>
            <li><a href='{% url 'shoppingcart' %}'><span class='glyphicon glyphicon-shopping-cart'></span> Shopping Cart ({{request.session.shoppingcart|length}})</a></li>  
            <li><a href='{% url 'customerlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

{% if request.session.shoppingcart|length > 0 %}
<table id='carttable' class='table table-bordered table-striped table-hover'>
    <thead>
        <tr>
            <th>Item</th>                
            <th>Price</th>                
            <th>Quantity</th>
            <th>Total</th>            
        </tr>
    </thead>
    {% for item in request.session.shoppingcart %}
    <tbody>
        <tr>                    
            <td>{{item.item}}</td>
            <td>${{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.total}}</td>
        </tr>
    </tbody>
    {% endfor %}         
</table>
<p id='total'><b>Cumulative total: ${{grandtotal}}</b></p>
<a href='{% url 'dashboard' %}' id='continue' class='btn btn-success pull-right'>Continue shopping</a>

<div class='row' id='info'>
    <div class='col-md-6'>
        <h1>Shipping Information</h1>
        <form action='#' method='' id='shipping'>
            <label for='fname'>First Name:</label>
            <input type='text' class='form-control' name='Sfname' id='fname' placeholder='first name'>
            <label for='lname'>Last Name:</label>
            <input type='text' class='form-control' name='Slname' id='lname' placeholder='last name'>
            <label for='address'>Address:</label>
            <input type='text' class='form-control' name='Saddress' id='address' placeholder='address'>
            <label for='city'>City:</label>
            <input type='text' class='form-control' name='Scity' id='city' placeholder='city'>
            <label for='state'>State:</label>
            <input type='text' class='form-control' name='Sstate' id='state' placeholder='state'>
            <label for='zip'>Zip Code:</label>
            <input type='text' class='form-control' name='Szip' id='zip' placeholder='zip code'>
        </form>
    </div>
    <div class='col-md-6'>
        <h1>Billing Information</h1>
        <form action='#' method='' id='billing'>
            Same as shipping: <input type='checkbox' name='same'>
            <br><br>
            <label for='fname'>First Name:</label>
            <input type='text' class='form-control' name='Bfname' id='fname' placeholder='first name'>
            <label for='lname'>Last Name:</label>
            <input type='text' class='form-control' name='Blname' id='lname' placeholder='last name'>
            <label for='address'>Address:</label>
            <input type='text' class='form-control' name='Baddress' id='address' placeholder='address'>
            <label for='city'>City:</label>
            <input type='text' class='form-control' name='Bcity' id='city' placeholder='city'>
            <label for='state'>State:</label>
            <input type='text' class='form-control' name='Bstate' id='state' placeholder='state'>
            <label for='zip'>Zip Code:</label>
            <input type='text' class='form-control' name='Bzip' id='zip' placeholder='zip code'>
        </form>
    </div>
</div>

<div id='ccard'>
    <h1>Credit Card Info</h1>
    <form action='#' method='' id='credit' class='form-inline'>
        <div class='form-group'>
            <label for='card'>Card:</label>
            <input type='text' id='card' class='form-control' placeholder="XXX-XXX-XXXX">
        </div>
        <div class='form-group'>
            <label for='code'>Security code:</label>
            <input type='text' id='code' class='form-control' placeholder="XXX">
        </div>
        <div class='form-group'>
            <label for='exp'>Expiration:</label>
            <input type='text' id='exp' class='form-control' placeholder='MM/YY'>
        </div>
        <button type='submit' class='btn btn-primary pull-right' id='pay'>Pay!</button>
    </form>
</div>
{% else %}
<h1 id='getbuying'>NO ITEMS IN SHOPPING CART YET</h1>
<a href='{% url 'dashboard' %}' class='btn btn-success' id='startbuyin'>Start buying!</a>
{% endif %}

{% endblock %}