{% extends 'customers/custindex.html' %}

{% block title %} Shopping Cart {% endblock %}

{% block singleprod %}

<nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
        <div class='nav navbar-nav navbar-header'>
            <a class='navbar-brand active' href='{% url 'dashboard' %}'>CodingDojo E-Commerce</a>             
            <li><a><span class='glyphicon glyphicon-user'></span> {{request.session.customer}}</a></li>
        </div>
        <ul class='nav navbar-nav navbar-right menu'>
            <li><a href='{% url 'myorders' %}'><span class="glyphicon glyphicon-qrcode"></span> My Orders</a></li>
            <li><a href='{% url 'shoppingcart' %}'><span class='glyphicon glyphicon-shopping-cart'></span> Shopping Cart ({{request.session.shoppingcart|length}})</a></li>  
            <li><a href='{% url 'customerlogout' %}'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>                        
        </ul>
    </div>
</nav>

{% if request.session.shoppingcart|length > 0 %}
<table id='carttable' class='table table-bordered table-striped table-hover'>
    <thead>
        <tr>
            <th>Item</th>                
            <th>Price</th>                
            <th>Quantity</th>
            <th>Total</th> 
            <th>Action</th>           
        </tr>
    </thead>
    {% for item in request.session.shoppingcart %}
    <tbody>
        <tr>                    
            <td>{{item.item}}</td>
            <td>${{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>${{item.total}}</td>
            <td><a href="shoppingcart/{{item.item}}"><span class='glyphicon glyphicon-trash'></span></a></td>
        </tr>
    </tbody>
    {% endfor %}         
</table>
<p id='total'><b>Cumulative total: ${{grandtotal}}</b></p>
<a href='{% url 'dashboard' %}' id='continue' class='btn btn-success pull-right'>Continue shopping</a>

<div class='row' id='info'>
    <div class='col-md-6'>
        <h1>Shipping Information</h1>
        <form action='{% url 'placeorder' %}' method='post' id="placeorder">
            {% csrf_token %}
            <div class='shipbill'>
                <label for='fname'>First Name:</label>
                {% if messages %} {% for message in messages %}
                {% if message.extra_tags == 'Sfname' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %}
                {% endfor %}
                {% endif %}  
                <input type='text' class='form-control' name='Sfname' id='Sfname' placeholder='first name' value="{{request.session.Sfname}}">
                <label for='lname'>Last Name:</label>
                {% if messages %} {% for message in messages %}
                {% if message.extra_tags == 'Slname' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %}  
                {% endfor %}
                {% endif %} 
                <input type='text' class='form-control' name='Slname' id='Slname' placeholder='last name' value="{{request.session.Slname}}">
                <label for='address'>Address:</label>
                {% if messages %} {% for message in messages %}
                {% if message.extra_tags == 'Saddress' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %} 
                {% endfor %}
                {% endif %}  
                <input type='text' class='form-control' name='Saddress' id='Saddress' placeholder='address' value="{{request.session.Saddress}}">
                <label for='city'>City:</label>
                {% if messages %} {% for message in messages %}
                {% if message.extra_tags == 'Scity' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %}
                {% endfor %}
                {% endif %}   
                <input type='text' class='form-control' name='Scity' id='Scity' placeholder='city' value="{{request.session.Scity}}">
                <label for='state'>State:</label>
                {% if messages %} {% for message in messages %}
                {% if message.extra_tags == 'Sstate' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %} 
                {% endfor %}
                {% endif %}  
                <input type='text' class='form-control' name='Sstate' id='Sstate' placeholder='state' value="{{request.session.Sstate}}">
                <label for='zip'>Zip Code:</label>
                {% if messages %} {% for message in messages %}
                {% if message.extra_tags == 'Szip' %}
                    <p class="{{message.tags}}">{{message}}</p>
                {% endif %} 
                {% endfor %}
                {% endif %} 
                <input type='text' class='form-control' name='Szip' id='Szip' placeholder='zip code' value="{{request.session.Szip}}">
            </div>
    </div>
    <div class='col-md-6'>
        <h1>Billing Information</h1>
        <div class="shipbill">
            Same as shipping: <input type='checkbox' name='same' value="SAME" id='same'>
            <br><br>
            <label for='fname'>First Name:</label>
            {% if messages %} {% for message in messages %}
            {% if message.extra_tags == 'Bfname' %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endif %} 
            {% endfor %}
            {% endif %}  
            <input type='text' class='form-control' name='Bfname' id='Bfname' placeholder='first name' value="{{request.session.Bfname}}">
            <label for='lname'>Last Name:</label>
            {% if messages %} {% for message in messages %}
            {% if message.extra_tags == 'Blname' %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endif %} 
            {% endfor %}
            {% endif %}  
            <input type='text' class='form-control' name='Blname' id='Blname' placeholder='last name' value="{{request.session.Blname}}">
            <label for='address'>Address:</label>
            {% if messages %} {% for message in messages %}
            {% if message.extra_tags == 'Baddress' %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}   
            <input type='text' class='form-control' name='Baddress' id='Baddress' placeholder='address' value="{{request.session.Baddress}}">
            <label for='city'>City:</label>
            {% if messages %} {% for message in messages %}
            {% if message.extra_tags == 'Bcity' %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endif %}  
            {% endfor %}
            {% endif %} 
            <input type='text' class='form-control' name='Bcity' id='Bcity' placeholder='city' value="{{request.session.Bcity}}">
            <label for='state'>State:</label>
            {% if messages %} {% for message in messages %}
            {% if message.extra_tags == 'Bstate' %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}  
            <input type='text' class='form-control' name='Bstate' id='Bstate' placeholder='state' value="{{request.session.Bstate}}">
            <label for='zip'>Zip Code:</label>
            {% if messages %} {% for message in messages %}
            {% if message.extra_tags == 'Bzip' %}
                <p class="{{message.tags}}">{{message}}</p>
            {% endif %} 
            {% endfor %}
            {% endif %}  
            <input type='text' class='form-control' name='Bzip' id='Bzip' placeholder='zip code' value="{{request.session.Bzip}}">
        </div>
    </div>
</div>

<div id='ccard'>
    <h1>Credit Card Info</h1>
        <div class='form-group'>
            <label for='card'>Card:</label>
            <input type='text' name='card' id='card' class='form-control' placeholder="XXXX-XXXX-XXXX">
        </div>
        <div class='form-group'>
            <label for='code'>Security code:</label>
            <input type='text' name='code' id='code' class='form-control' placeholder="XXX">
        </div>
        <div class='form-group'>
            <label for='exp'>Expiration:</label>
            <input type='text' name='expiration' id='exp' class='form-control' placeholder='MM/YY'>
        </div>
        <button type='submit' class='btn btn-primary pull-right' id='pay'>Place Order!</button>
    </form>
</div>
{% else %}
<h1 id='getbuying'>NO ITEMS IN SHOPPING CART YET</h1>
<a href='{% url 'dashboard' %}' class='btn btn-success' id='startbuyin'>Start buying!</a>
{% endif %}

{% endblock %}                      